body{
	color: white;
	background: url('ocean.jpg') no-repeat;
	background-size: cover

	/*background: #4682B4;*/
}
.container{
	/*border: 1px solid red;*/
	background: #4682B4;
	border-radius: 5px;
	width: 40%;
	margin: 100px auto;
	padding-bottom: 20px;
}
#header{
	background: #2F4F4F;
	padding: 5px;
	border-radius: 5px;
	/*border-color: green;*/
	text-align: center;
	font-size: 20px;
}
form{
	width: 44%;
	margin: auto;
}
.div-group{
	display: flex;
	margin-top: 30px;
	height: 38px;
	border-radius: 3px;
	background: #191970;
}
.div-group input{
	width: 197px;
	height: 34px;	
	border-radius: 3px;
	border: 1px solid #006400;
}
div #password input{
	/*border: 1px solid red;*/
	width: 200px;
}
div i.fa{
	padding: 5px;
}
div #button input{
	bottom: 1px solid red;
	background: #00BFFF;
	border-style: none;
	border-radius: 3px;
	color: white;
	margin-top: 30px;
	font-size: 20px;
}

p a {
	color: white;
	font-size: 20px;
}